.main {
    background-image: url("../../images/back.jpg");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutImg {
    background-color: blueviolet;
    min-height: 40vh;
}